@import './../node_modules/bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Roboto', sans-serif;
  background:#eee;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}