.userBar {
    min-height: 100px;
    background-image: linear-gradient(-225deg, rgb(179, 180, 184) 0%, rgb(205, 208, 223) 100%);
    margin-bottom: 30px;
    position: relative;
    line-height: 100px;    
    width: 100%; 
}

.avatar-container{
    float: right;
}

.avatar {
    height: 80px;
    width: auto;
    border-radius: 40px;   
    margin-right: 20px;
    display: inline-block;    
}

.welcome-text {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 1.5em;
}

.avatar-hint {
    display: none;
    position: absolute;
    right: 20px;
    bottom: -45px;
    line-height: initial;
    background: #5753C9;
    color: #fff;
    padding: 10px 10px;    border-radius: 5px;

}

.avatar:hover + .avatar-hint {
    display: block;  
}

.filter-input {
    line-height: 30px;
    margin-left: 30px;
    padding-left: 5px;
}

.modal-container--avatar .modal-window {
    min-height: initial;
}

.modal-container--avatar .close-modal-button, .modal-container--avatar .save-changes-button {
    margin-top: 20px;
}

.avatar-min {   
    max-height: 80px;
    width: auto;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

.clearFix {
    clear: both;
}

input[type="file"] {
    display: none;
}

.avatar-label {
    background: #1bb738;
    color: #fff;
    font-weight:400;
    padding: 10px 20px; 
    border-radius: 5px;
    display: block;
    text-align: center;
}