.notification-wrapper {
    width: 100%;
    max-width: 555px;
    min-height: 60px;
    border-left: 50px solid #07b8ff;
    padding-left: 20px;
    background: #fff;
    position: relative;
    margin: 30px auto;
}

.notification-wrapper span {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #525556;
}