.app-header {
    position: relative;
    width: 100%;    
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);   
}

.app-title {
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

@media (min-width: 620px) {
    .app-title {
        font-size: 36px;
    }
}

.menu-button {
    display: inline-block;    
    color: white;
    padding: 10px 20px;
    border-radius: 5px;    
    border: none;
}

.menu-button--left {
    float: left;
    margin-left: 20px;
}

.menu-button--right {
    float: right;
    margin-right: 20px;
}

#clear-board-button {
  background: #ff0505;  
}

.link-button {    
    background: #2908a3;   
}

#logout-button {   
    background: #0a186d;   
}

#add-admin-button {    
    background: #0fc427;   
}

/* mobile menu */

.hamburger-menu {
    float: right;
    margin-right: 30px;
    position: relative;
    bottom: 25px;
    font-size: 30px;
    color: #fff;
}

@media (min-width: 620px) {
    .hamburger-menu {        
        bottom: 35px;       
    }
}

.mobile-menu li {
    list-style-type: none;
    margin-top: 20px;
    padding-top: 15px;   
    border-top: 1px solid #fff; 
}

.mobile-menu ul {
    padding-left: 0px;
}

.mobile-menu li button, .mobile-menu li a {
    color: #fff;
    font-size: 18px;
}

.mobile-menu li button, .mobile-menu li:last-child {
    margin-bottom: -10px;
}