.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    z-index: 5;
}

.modal-window {
    position: fixed;
    width: 90%;
    max-width: 500px;
    min-height: 400px;   
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);   
    background: #4286f4;
    border-radius: 20px;
    opacity: 1;   
    z-index: 9; 
}

.modal-window--push-modal {
    position: fixed;
    width: 250px;   
    height: 140px;   
    bottom: 20px;
    right: 20px;      
    background: #4286f4;
    border-radius: 5px;
    opacity: 1;   
    z-index: 9; 
}

.modal-window.board-updated-modal {
    background: #7d8084;
    width: 200px;
    height: 200px;
    min-height: initial;
}

.modal-window.board-updated-modal .modal-body {
    width: 100%;
}

.modal-header {
    font-size: 18px;
    color: #fff;    
}

.modal-header.board-updated-header {
    border-bottom-color: transparent;
}

.board-updated-modal .modal-body {
    color: #fff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-body {
    position: initial;
    overflow: auto;
}

.modal-body textarea {
    width: 95%;
    height: 200px;
}

.close-modal-button {
    font-size: 14px;
    padding: 10px 20px;
    min-width: 90%;
    color: white;
    background: #c63333;
    border: none;
    border-radius: 4px;
    float: none;   
    display: block;
    margin: 0 auto;
    margin-top: 15px;    
}

.close-push-modal-button {
    font-size: 12px;
    padding: 4px 8px;    
    color: white;
    background: #c63333;
    border: none;
    border-radius: 1px;
    float: left;   
    display: block;
    margin: 0 auto;
    margin-top: 15px;    
}

.refresh-stickies-button{
    font-size: 12px;
    padding: 4px 8px;    
    color: white;
    background: #1bb738;
    border: none;
    border-radius: 1px;
    float: right;   
    display: block;
    margin: 0 auto;
    margin-top: 15px; 
}

.save-changes-button {
    font-size: 14px;
    padding: 10px 20px;
    min-width: 90%;
    color: white;
    background:#1bb738;
    border: none;
    border-radius: 4px;
    display: block; 
    margin: 0 auto;  
    margin-top: 20px;
}

@media (min-width: 620px) {
    .close-modal-button {
        font-size: 14px;
        padding: 10px 20px;
        min-width: initial;
        color: white;
        background: #c63333;
        border: none;
        border-radius: 4px;
        float:left;
        margin-top: 65px; 

    }

    .save-changes-button {
        font-size: 14px;
        padding: 10px 20px;
        min-width: initial;
        color: white;
        background:#1bb738;
        border: none;
        border-radius: 4px; 
        float: right;
        margin-top: 65px;      
    }

    .modal-window {       
        width: 80%;       
    }
}

.spinner.board-update {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3b3e42;
    position: relative;
    left: 33%;
    transform: translateY(-50%); 
}

@media (min-widht: 990px) {
    .modal-window {       
        width: 50%;       
    }
}