.sticky {
    height: 200px;
    background: #f2e18e;
    margin-top: 15px; 
    position: relative;
    padding-top: 8px;
    padding-right: 20px;
}

.sticky__deleteButton {
    position: absolute;    
    right: 8px;   
    display: inline-block;
    padding: 5px 5px;    
}

.sticky__editButton {
    position: absolute;    
    right: 8px;
    top: 30px;   
    display: inline-block;
    padding: 5px 5px;    
}

.fas {
    cursor: pointer;
}