.columns-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.columns-header span {
    font-size: 16px;
    color: #222;
}

.columns-header p i {
    font-size: 24px;
    color: #52cc26;
}

.sticky-column {
    text-align: center;
}