.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 40px; 
}

.wrapper:after {
    content: "";
    display: block;
}

.app-footer, .wrapper:after {
    height: 100px; 
}

.app-footer {
    position: relative;
    background-image: linear-gradient(to right, #434343 0%, black 100%);    
}

footer span {
    color: #ddd;    
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}