.errors {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-top: 40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.link {
    font-size: 16px;
    border-bottom: 1px solid #aaa;
}

.link:hover {   
    border-bottom: 1px solid #337ab7;
    text-decoration: none;
    color: #337ab7;
}